<footer class="h-40 bg-gray-700 text-gray-300 mt-auto">
    <section class="flex flex-col items-center justify-center mx-auto max-w-lg w-full h-full">
        <strong class="font-text capitalize font-light">
            created by sounak mukherjee
        </strong>
        <div class="text-xs">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </section>
</footer>